<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UploadDirectory" value="./uploads" />
  </appSettings>
  <connectionStrings>
    <add name="LegacyDb" connectionString="Server=(localdb)\\MSSQLLocalDB;Database=LegacyUploadDemo;Trusted_Connection=True;" />
  </connectionStrings>
</configuration>
