<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Local NuGet feed: OgeFieldOps.Core.Data must be packed here before building Infrastructure -->
    <add key="local" value="../local-nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>
